@charset "UTF-8";
body{
	background-size:100%;
}
.navbar-header .bg {
   
    border-bottom: 2px solid #0962db;
}
.content_list{
margin-top: 130px;
}
/* CSS Document */
.img_text_position {
	width: 100%;
	
	height: 64px;
}

.img_text_position .title {
	display: block;
	font-size: 20px;
	color: #fff;
	line-height: 64px;
	width: 166px;
	float: left;
	text-align: center;
	background-size:100% 100%;
}

.contentPic_title {
	width: 85.5%;
	height: 63px;
	background: #eef3f9;
	padding: 0px 30px;
	float: right;
	border-bottom: 1px solid #0962db;
}

.contentPic_title p {
	line-height: 64px;
	font-size: 12px;
	color: #000;
	margin: 0;
	float: left;
	font-family: 宋体;
	 
}
.contentPic_title .contentPic_title_search{
	float: right;
	width: 419px;
	height: 34px;
	margin-top: 15px;
}
.contentPic_title .contentPic_title_search input{
	width: 330px;
	height: 34px;
	border: 1px solid #0962db;
	float: left;
	 border-radius: 6px;
	 font-size: 11px;
	 color: #b5b5b5;
	 padding-left:34px; 
	line-height: 34px;
}
.contentPic_title .contentPic_title_search input.submit{
	width: 82px;
	height: 34px;
	float: right;
	    border: none;
    background: #0962db;
    border-radius: 6px;
    background-image: none;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 34px;
    padding-left: 0;
}

.contentPic {
	width: 100%;
	
}
.hotel_type_list{    
	width: 100%;
    padding: 38px;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 100px;
}
.hotel_type_list p{
    float: left;
}
.hotel_type_list p span{
    font-size: 1.3em;
    font-weight: bold;
    line-height: 26px;
    margin-right: 5px;
    text-align: center;
    color: #015dcb;
}
.hotel_type_list p a{
	    float: left;
    font-size: 16px;
    margin-right: 18px;
    line-height: 26px;
    padding: 0px 10px;
    text-align: center;
    display: block;
}
.hotel_type_list p a.on{
	       background-color: #0061cb;
    border-radius: 10%;
    color: #fff;
}

.recommend_text{
    width: 100%;
    margin-top: 16px;
    border: 1px solid #dcdcdc;
    padding: 10px 34px 80px;
    background: #fff;
}
.recommend_text ul{
	width: 100%;
	margin-bottom: 0;
}
.recommend_text ul li{
	height: 218px;
	padding: 22px 0px;
	border-bottom: 1px solid #dcdcdc;
}
.recommend_text ul li:last-child{
	border: none;
}
.recommend_text ul li .wjq_list_text{
	float: left;
	    height: 100%;
}
.recommend_text ul li .wjq_list_text a{
	width: 100%;
	height: 100%;
}
.recommend_text ul li .wjq_list_text a .text_img{
	float: left;
	width: 224px;
	height: 100%;
}
.recommend_text ul li .wjq_list_text a .text_img img{
	width: 100%;
	height: 100%;
}
.recommend_text ul li .wjq_list_text a .text{
	float: left;
	margin-left: 31px;
    width: 640px;
}
.recommend_text ul li .wjq_list_text a .zjd_con{
	padding: 10px 0px;
}
.recommend_text ul li .wjq_list_text a .text h1{
	    color: #333;
    font-size: 20px;
    margin: 0;
}
.recommend_text ul li .wjq_list_text a .text h1.gsp_title{
    margin-bottom: 10px;
}
.recommend_text ul li .wjq_list_text a .text h1.ytj_title {
    margin-bottom: 20px;
}
.recommend_text ul li .wjq_list_text a .text h2{
	margin: 12px 0px 5px;
}
.recommend_text ul li .wjq_list_text a .text h2 span{
    color: #f49704;
    font-size: 15px;
    border: 1px solid #f49704;
    font-weight: bold;
    padding: 1px 14px;
    border-radius: 15px;
    
}
.recommend_text ul li .wjq_list_text a .text h4{
	margin: 18px 0px 5px;
}
.recommend_text ul li .wjq_list_text a .text h4 span{
    color: #00ca9A;
    font-size: 15px;
    border: 1px solid #00ca9A;
    font-weight: bold;
    padding: 1px 14px;
    border-radius: 15px;
    
}
.recommend_text ul li .wjq_list_text a .text h5{
	margin: 12px 0px 8px;
}
.recommend_text ul li .wjq_list_text a .text h5 span{
    color: #0195ff;
    font-size: 15px;
    border: 1px solid #0195ff;
    font-weight: bold;
    padding: 1px 14px;
    border-radius: 15px;
    
}
.recommend_text ul li .wjq_list_text a .text h3{
	font-size: 15px;
	color: #0962db;
	margin: 0;
	margin-top: 10px;
}
.recommend_text ul li .wjq_list_text a .text p{
	font-size: 15px;
	color: #666;
	margin-bottom: 6px;
    text-align: justify;
}
.recommend_text ul li .wjq_list_text a .text p.phone{
	color: #333;
	    line-height: 22px;
	    margin-top: 12px;
}
.recommend_text ul li .wjq_list_text a .text p.adress{
	color: #333;
	    line-height: 22px;
	    margin: 22px 0px 20px;
}
.recommend_text ul li .wjq_list_text a .text p.gsp_intro{
	height: 100px;
	overflow:hidden;
}

.recommend_text ul li .wjq_list_text a .text p img{
	width: 22px;
	height: 22px;
	margin-right: 6px;
}
.recommend_text ul li .text_link{
    float: right;
    border-left: 1px dashed #dcdcdc;
        width: 190px;
    padding-left: 45px;
    height: 100%;
}
.recommend_text ul li .gsp_link{
	padding-top: 70px;
}
.recommend_text ul li .text_link h1{
    color: #f49704;
    font-size: 24px;
	margin-left: 0px;
}
.recommend_text ul li .text_link h1 span{
	color: #999;
    font-size: 12px;
}
.recommend_text ul li .text_link h2{
	background: #0962db;
	width: 110px;
	height: 30px;
	    border-radius: 5px;
	    text-align: center;
}
.recommend_text ul li .text_link h2.zjd_zy{
	background: #00ca9A;
	border-radius: 15px;
}
.recommend_text ul li .text_link h2.cyl_zy{
	background: #0195ff;
	border-radius: 15px;
}
.recommend_text ul li .text_link h2.gsp_zy{
	background: #6d460b;
	border-radius: 15px;
	margin-top: 0px;
}
.recommend_text ul li .text_link h2.ytj_zy{
	background: #0962db;
	border-radius: 15px;
	margin-top: 70px;
}
.recommend_text ul li .text_link h2 a{
	
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}
.recommend_text ul li .text_link h3{
    border: 1px solid #0962db;
    width: 110px;
    height: 30px;
    text-align: center;
    margin-top: 0;
    border-radius: 5px;
}
.recommend_text ul li .text_link h3 a{
	font-size: 15px;
	color: #0962db;
	line-height: 30px;
}
.recommend_text ul li .text_link h3.zjd_bj{
    border: 1px solid #00ca9A;
    border-radius: 15px;
}
.recommend_text ul li .text_link h3.zjd_bj a{
    color: #00ca9A;
    
}
.recommend_text ul li .text_link h3.cyl_bj{
    border: 1px solid #0195ff;
    border-radius: 15px;
}
.recommend_text ul li .text_link h3.cyl_bj a{
    color: #0195ff;
    
}
.recommend_text ul li .text_link h3.gsp_bj{
    border: 1px solid #6d460b;
    border-radius: 15px;
}
.recommend_text ul li .text_link h3.gsp_bj a{
    color: #6d460b;
    
}
.recommend_text ul li .text_link p{
	margin-left: 19px;
}
.recommend_text ul li .text_link p a{
	font-size: 12px;
	color: #0962db;
	
}






/*page*/ /*分页*/
.page {
	margin: 60px auto;
	padding: 3px;
	text-align: center;
	height: 40px;
}

.page * {
	margin: 0 8px 0 0;
	padding: 4px 15px;
	width: 34px;
	border: 1px solid #cccccc;
	color: #999;
	font-size: 14px;
}

.page em {
	border-color: #f6f6f6;
	color: #4e4e4e;
	font-style: normal;
	border: 1px solid #cccccc;
}

.page strong {
	background: #faad07;
	color: #fff;
}

.page a {
	color: #4e4e4e;
}

.page a:hover {
	background: #f6f6f6;
	text-decoration: none;
}
@media screen and (min-width:1200px) and (max-width: 1300px) {
	.contentPic_title {
    width: 82%;
}
	.recommend_text ul li .wjq_list_text {
    width: 77%;
}
	.recommend_text ul li .wjq_list_text a .text {
    width: 65%;
        margin-left: 3%;
}
	.recommend_text ul li .text_link {
    width: 19%;
    
}
	.recommend_text ul li .wjq_list_text a .text p.intro {
    height: 45px;
    overflow: hidden;
}
}
@media screen and (max-width:1200px) {
	.contentPic_title {
    width: 83.5%;
}
	.recommend_text ul li .wjq_list_text {
    float: left;
    width: 80%;
}
	.recommend_text ul li .wjq_list_text a .text {
    margin-left: 3%;
    width: 70%;
}
}

@media screen and (max-width:1130px) {
	.recommend_text ul li .wjq_list_text a .text {
    margin-left: 2%;
    width: 68%;
}
	.recommend_text ul li .wjq_list_text a .text_img {
    width: 30%;
}
	.recommend_text ul li .text_link {
    width: 17%;
        padding-left: 4%;
}
	.recommend_text ul li .text_link h1 {
    margin-left: 9%;
}
}
@media screen and (max-width:970px) {
	.recommend_text ul li .wjq_list_text a .text_img {
    width: 36%;
}
	.recommend_text ul li .wjq_list_text a .text {
    margin-left: 2%;
    width: 61%;
}
	.recommend_text ul li .wjq_list_text a .text h3 {
    display: none;
}
}
@media screen and (max-width:767px) {
	.recommend_text ul li .wjq_list_text a .text_img {
    width: 45%;
}
	.recommend_text ul li .wjq_list_text a .text {
    margin-left: 2%;
    width: 52%;
}
	.recommend_text ul li .wjq_list_text a .text h1 {
    font-size: 18px;
}
	.recommend_text ul li .wjq_list_text a .text h2 span {
    font-size: 13px;
    padding: 1px 14px;
}
	.recommend_text ul li .wjq_list_text a .text h2 {
    margin: 7px 0px 5px;
}
	
	.recommend_text ul li .wjq_list_text a .text p {
    font-size: 13px;
    color: #666;
    margin-bottom: 6px;
    text-align: justify;
    line-height: 22px;
}
	.recommend_text ul li .text_link h2, .recommend_text ul li .text_link h3 {
    width: 86%;
}
	.recommend_text ul li .text_link h3 a,.recommend_text ul li .text_link h2 a {
    font-size: 14px;
}
	.recommend_text ul li .text_link h1 {
    font-size: 25px;
}
	.recommend_text ul li .text_link h1 span {
    font-size: 15px;
}
}
@media screen and (max-width:690px) {
	.recommend_text ul li {
    height: auto;
}
	.recommend_text ul li .wjq_list_text a .text_img {
    width: 100%;
    height: auto;
    float: none;
}
	.recommend_text ul li .wjq_list_text a .text {
    margin-left: 0%;
    width: 100%;
    margin-top: 10px;
    float: none;
}
	.recommend_text ul li .text_link {
    width: 100%;
    padding-left: 0%;
    float: none;
    height: 30px;
}
	.recommend_text ul li .text_link h1 {
    font-size: 25px;
    float: left;
      margin-right: 10px;
      margin-top: 0;
      margin-left: 0;
}
	.recommend_text ul li .text_link h2, .recommend_text ul li .text_link h3 {
    width: 110px;
    float: left;
    margin: 0;
    margin-right: 10px;
}
	.recommend_text ul li .wjq_list_text {
    float: none;
    width: 100%;
}
	.recommend_text ul li .gsp_link {
    padding-top: 0px;
}
	.recommend_text ul li .wjq_list_text a .text p.gsp_intro {
    height: auto;
}
	.page * {
    width: 60px !important;
        margin-bottom: 10px;
}
		.prev {
    height: 31px;
}
	.next {
    height: 31px;
}
}
@media screen and (max-width:600px) {
	.recommend_text ul li {
    height: auto !important;
}
}
@media screen and (max-width:420px) {
	.recommend_text ul li .text_link {
    border-left: none;
}
	.hotel_type_list {
    padding: 4% 2%;
    margin-bottom: 14px;
    height: 60px;
}
	.recommend_text ul li .wjq_list_text a .text h1.gsp_title {
    height: auto;
        margin-bottom: 0px
}
	.hotel_type_list p span {
    font-size: 16px;
}
	.hotel_type_list p a {
    font-size: 15px;
    margin-right: 6px;
    padding: 0px 10px;
}
	
	.recommend_text ul li .wjq_list_text a .text h1 {
    height: auto;
    overflow: hidden;
     white-space: nowrap;
    text-overflow: ellipsis;
}
	.recommend_text ul li .text_link h2, .recommend_text ul li .text_link h3 {
    border-radius: 15px;
}
}